<div class="card border-secondary mb-3" style="max-width: 30rem; margin-left: 5%;margin-top: 3%;">
    <div class="card-header">Nuevo gasto</div>
    <div class="card-body">
        <form #expenseForm = "ngForm" (ngSubmit)="addExpense(expenseForm)">
            <h4 class="card-title">Nuevo Gasto</h4>
            <div class="form-group">
              <input type="number"
              class="form-control"
              name="quantity"
              [(ngModel)]= "expenseService.selectedExpense.quantity"
              placeholder="Introduzca cantidad"
              id="inputDefaultQuantity">
            </div>
            <div class="form-group">
              <input type="text" 
              class="form-control"
              name="description"
              [(ngModel)]= "expenseService.selectedExpense.description"
              placeholder="Introduzca descripción"
              id="inputDefaultDescription">
            </div>
            <div class="form-group">
              <input type="text"
              class="form-control"
              name="date"
              [(ngModel)]= "expenseService.selectedExpense.date"
              placeholder="Introduzca fecha"
              id="inputDefaultDate">
            </div>
            <div class="form-group">
            <br>
            <div class="d-grid gap-2">
              <button class="btn btn-lg btn-primary" type="submit">Guardar</button>
              </div>
            </div>
        </form>
     </div>
  </div>

  
  
