.card{
    margin-top: 10%;
    margin-left: 6%;
    margin-right: 6%;
}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    margin-top: 0%;
}
.tdButtons{
    height: 1em;
}
button .btn{
    padding: auto;
    margin: 0px auto;
    margin-bottom: 0px auto;
 
}
.btn{
    margin-right: auto !important;
    margin-left: auto  !important;
    width: 65%;
    height: 35%;
    
}
table{
    width: 100%;
    margin-top: 1rem;
    padding-right: 1rem;
}

#buttonDelete{
    margin-left: 15% !important;
    margin-right: 0%;
}