
#divButtons{
    margin-right: 0px auto;
    padding-right: 0rem;
    padding-bottom: 1%;
    width: 7em;
}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 11px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    padding-bottom: 1%;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    margin-top: 0%;
}
table{
    width: 100%;
    margin-top: 1rem;
    padding-right: 10%;
}
.card {
    display: block;
    float: right;
    width: 29%;
    margin-right: 8%;
    margin-top: 3%;
}
.cardFormEdit{
    width: 15%;
    margin-right: 3%;
}
#buttonDelete{
    margin-left: 15%;
}